---
export const prerender = true;
import Navbar from "@/components/Navbar.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const blogs = await getCollection("blog");
  return  blogs.map((blog) => ({
    params: {slug: blog.slug},
    props: {blog}
  }))
}) satisfies GetStaticPaths;

type Props = {
  blog: CollectionEntry<"blog">
}

const {blog} = Astro.props;
const {Content} = await blog.render();
---

<BaseLayout title={`${blog.data.title}`} description={blog.data.description}>
  <Navbar />

  <div class="min-h-screen py-8 px-4">
    <div class="prose font-anta dark:prose-invert mx-auto prose-blue">
      <Image src={`/img/content/${blog.data.image}`} alt={'Header Pitcure of ' + blog.data.title} width={1024} height={1024} loading={'eager'} />
      
      <Content />
    </div>
  </div>
</BaseLayout>