---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import {Links, SocialMedia} from "@/utils/links"
import BaseLayout from "@/layouts/BaseLayout.astro";
import ProfileShork from "@/img/profile-pic.png"
import ProfileFox from "@/img/profile-fox.png"
---

<BaseLayout title="My Website" description="Welcome to Tamcin's world!">
	<div class="min-h-screen p-8 flex flex-col gap-8 justify-center items-start font-anta max-w-2xl mx-auto">
		<div class="flex flex-col gap-8">
			<div class="flex flex-col gap-2">
				<p class="dark:text-slate-600 text-slate-300">These are the same guy...</p>
				<div class="flex gap-2">
					<Image src={ProfileFox} width={512} alt={'Profile Pic'} class={'rounded max-w-24'} loading={'eager'} />
					<Image src={ProfileShork} width={512} alt={'Profile Pic'} class={'rounded max-w-24'} loading={'eager'} />
				</div>
			</div>
			<div class="">
				<h1 class="dark:text-white text-slate-800 text-2xl font-semibold uppercase md:text-4xl">VoidFoxTamcin</h1>
				<p class="dark:text-slate-400 text-slate-400 text-xl">A guy who love coding weird stuff and drawing beefy characters.~</p>
			</div>
		</div>
		<div>
		<h2 class="dark:text-white text-slate-800 text-xl font-semibold uppercase md:text-2xl">Related Links</h2>
			<ul>
				{Links.map((link) => (
					<li class="text-green-500 text-xl"><Icon name={'mdi:link'} class={'inline-block'} /> <a href={link.href}>{link.name}</a></li>
					))}
			</ul>
		</div>
		<div>
			<h2 class="dark:text-white text-slate-800 text-xl font-semibold uppercase md:text-2xl">My Social Media</h2>
				<ul>
					{SocialMedia.map((link) => (
						<li class="text-blue-500 text-xl"><Icon name={`mdi:${link.icon}`} class={'inline-block'} /> <a href={link.href} target="_blank">{link.name}</a></li>
						))}
				</ul>
			</div
		</div>
	</div>
</BaseLayout>