---
import MyLayout from "@/layouts/MyLayout.astro";
import {Image} from "astro:assets"
import { getCollection, type CollectionEntry } from "astro:content";

const ocs: CollectionEntry<"oc">[] = await getCollection("oc");
---

<MyLayout title="My Original Charaters!" desc="Place to find all of my original characters in here!" image="/img/og/my-original-characters.png" bgClass="bg-slate-900">
  <div class="container mx-auto">
    <div class="py-8 px-4">
      <h1 class="text-3xl md:text-6xl font-black text-white text-center">
        MY ORIGINAL CHARACTERS
      </h1>

      <div class="my-8">
        {
          ocs.map((oc) => (
            <div class="mb-4 bg-slate-800 p-4 rounded-lg">
              <p class="text-4xl text-center font-bold text-white">{oc.data.name}</p>
              <p class="text-xl text-center font-semibold text-white">{oc.data.description}</p>

              <div class="flex flex-row items-start justify-start overflow-x-auto gap-x-4 py-4 h-80">
                {oc.data.images.map((img) => (
                  <img src={img} alt={oc.data.name} class="block rounded-lg max-h-full" />
                ))}
                </div>
            </div>
          ))
        }
      </div>
      <button
            onclick="goBack()"
            class="block w-full px-4 py-3 text-center font-semibold bg-slate-700 rounded-lg mt-4 md:text-xl text-white"
            >GO BACK</button>
    </div>

  </div>
</MyLayout>

<script is:inline>
  function goBack(){
    window.history.back();
  }
</script>