---
import '../css/style.css'
import {ViewTransitions} from 'astro:transitions'
// @ts-ignore
import Navbar from '@/components/Navbar.svelte';

const { title, image, slug } = Astro.props;
const base = import.meta.env.DEV ? Astro.url.origin : 'https://voidfoxtamcin.vercel.app';
const currentUrl = `${base}/blog/${slug}`;
const ogImage = new URL(image, base)
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Voidfoxtamcin's Website" />
    <meta property="og:description" content="Voidfoxtamcin's Website" />
    <meta property="og:image" content={ogImage} />
    <meta property="og:image:alt" content={title} />
    <meta property="og:url" content={currentUrl} />
    <meta property="og:type" content="website" />

    <meta name="twitter:title" content={title}/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:image" content={ogImage}/>
    <meta name="twitter:domain" content={import.meta.env.SITE}/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk&family=Noto+Sans+JP&display=swap" rel="stylesheet">

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="min-h-screen bg-slate-900">
    <Navbar />
    <slot />
  </body>
</html>
